/* uni.scss - 全局SCSS变量 */

/* 主题色 */
$primary-color: #d71920;
$secondary-color: #138a43;
$background-color: #f6f7fb;
$card-color: #ffffff;
$header-color: #d71920;

/* 文字颜色 */
$text-primary: #151922;
$text-secondary: #666f7f;

/* 涨跌颜色 */
$price-up: #d71920;
$price-down: #138a43;

/* 间距 */
$spacing-sm: 10rpx;
$spacing-md: 20rpx;
$spacing-lg: 30rpx;

/* 圆角 */
$radius-sm: 8rpx;
$radius-md: 16rpx;
$radius-lg: 36rpx;
